.header{
    width: 100%;
    height: 50px;
    background-color: #4a76a8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;

    .links{
        display: flex;
        justify-content: space-around;

        .logo{
            height: 45px;
            margin-right: 50px;
            cursor: pointer;
        }

        &__item {
            cursor: pointer;
            color: white;
            font-weight: bold;
            padding: 0 15px;
            transition: .4s;
            height: 50px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;

            &:hover {
                color: gold;
                text-shadow: 4px 4px 8px black;
            }

            &_active {
                border-bottom: 2px solid goldenrod;
            }
        }
    }

    .login{
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__img{
            color: white;
            font-size: 30px;
            transition: .4s;

            &:hover {
                color: rgba(218, 165, 32, .5)
            }

            &_active{
                color: goldenrod;
            }
        }
    }
}